<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Link</th>
            <th>Done</th>
            <th>Available for test</th>
            <th>Real problem</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @version_issues) do |issue| %>
          <tr class="<%= issue.status %>">
            <td><%= link_to issue.link, issue.link, target: "_blank" %></td>
            <td><%= issue.done %></td>
            <td><%= issue.available_for_test %></td>
            <td><%= issue.real_problem %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
