<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>From Part</th>
            <th>From Test</th>
            <th>Link</th>
            <th>Done</th>
            <th>Available for test</th>
            <th>Real problem</th>
            <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @version_issues) do |issue| %>
          <tr class="<%= issue.status %>">
            <td><%= issue.version_test.test.part %></td>
            <td><%= issue.version_test.test.description %></td>
            <td><%= link_to issue.link, issue.link, target: "_blank" %></td>
            <td><%= issue.done %></td>
            <td><%= issue.available_for_test %></td>
            <td><%= issue.real_problem %></td>
            <td>              
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%= link_to 'Edit Issue', edit_issue_path(issue), remote: true, data: { 'toggle' => 'modal', 'target' => '#modal' }%></li>
                </ul>
              </div>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
