<div class="page-header">
  <%= link_to new_issue_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Issue
  <% end %>
  <h1>Listing opened issues</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Link</th>
            <th>Done</th>
            <th>Available for test</th>
            <th>Real problem</th>
            <th>Test</th>
            <th>Version</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @issues) do |issue| %>
          <tr class="<%= issue.status %>">
            <td><%= link_to issue.link, issue.link, target: '_blank' %></td>
            <td><%= issue.done %></td>
            <td><%= issue.available_for_test %></td>
            <td><%= issue.real_problem %></td>
            <td><%= issue.version_test.test.description %></td>
            <td><%= link_to "#{issue.version_test.version.system} - #{issue.version_test.version.start} - #{issue.version_test.version.finish}", version_path(issue.version_test.version.id) %></td>
            <td><%= link_to 'Show', issue %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
