<div class="page-header">
  <%= link_to issues_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show issue</h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @issue.description %></dd>

  <dt>Link:</dt>
  <dd><%= link_to @issue.link, @issue.link, target: '_blank' %></dd>

  <dt>Done:</dt>
  <dd><%= @issue.done %></dd>

  <dt>Available for test:</dt>
  <dd><%= @issue.available_for_test %></dd>

  <dt>Real problem:</dt>
  <dd><%= @issue.real_problem %></dd>

  <dt>Version test:</dt>
  <dd><%= @issue.version_test.test.description %></dd>

</dl>
