<br>
<%= simple_form_for(@version_test, remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @version_test.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@version_test.errors.count, "error") %> prohibited this version_test from being saved:</h4>

      <ul>
      <% @version_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @version_test.test_id? %>
    <div class="form-group">
      <%= f.label 'Description', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p><%= @version_test.test.description %></p>
      </div>
    </div>  
    <div class="form-group">
      <%= f.label 'Settings', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p><%= @version_test.test.settings %></p>
      </div>
    </div>  
    <div class="form-group">
      <%= f.label 'File', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p><%= @version_test.test.file %></p>
      </div>
    </div>  
    <div class="form-group">
      <%= f.label 'Status', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p><%= @version_test.test.status %></p>
      </div>
    </div>  
    <div class="form-group">
      <%= f.label 'Expected Result', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <p><%= @version_test.test.expected_result %></p>
      </div>
    </div> 
  <% else %>
    <div class="form-group">
      <%= f.label :test, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.association :test, label_method: :description, value_method: :id, include_blank: false, label: false, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :obtained_result, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :obtained_result, as: :text, label: false, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :impact, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input :impact, as: :text, label: false, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :check, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.input_field :check, as: :boolean, label: false, class: "form-control" %>
    </div>
  </div>
  <%= f.input :version_id, as: :hidden, input_html: { value: @version }  %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $("select").select2({
      theme: "bootstrap",
      allowClear: true,
      cache: true,
      autocomplete: true,
      width: "100%"
  });
});
</script>
