<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Obtained result</th>
            <th>Impact</th>
            <th>Check</th>
            <th>Version</th>
            <th>Text</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @version_tests) do |version_test| %>
            <td><%= version_test.obtained_result %></td>
            <td><%= version_test.impact %></td>
            <td><%= version_test.check %></td>
            <td><%= version_test.version %></td>
            <td><%= version_test.test %></td>
            <td><%= link_to 'Show', version_test %></td>
        <td><%= link_to 'Edit', edit_version_test_path(version_test) %></td>
        <td><%= link_to 'Destroy', version_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>