<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr> 
            <th>Description</th>
            <th>Settings</th>
            <th>File</th>
            <th>Status</th>
            <th>Expected result</th>
            <th>Obtained result</th>
            <th>Impact</th>
            <th>Check</th>
            <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @version_tests) do |version_test| %>
          <tr class="<%= version_test.done %>">
            <td><%= version_test.test.description %></td>
            <td><%= version_test.test.settings %></td>
            <td><%= version_test.test.file %></td>
            <td><%= version_test.test.status %></td>
            <td><%= version_test.test.expected_result %></td>
            <td><%= version_test.obtained_result %></td>
            <td><%= version_test.impact %></td>
            <td><%= version_test.check %></td>
            <td>              
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><%= link_to 'Delete Item', version_test, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  <li><%= link_to 'Edit Item', edit_version_test_path(version_test), remote: true, data: { 'toggle' => 'modal', 'target' => '#modal' }%></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Create Issue', new_issue_path(version_test: version_test.id), remote: true, data: { 'toggle' => 'modal', 'target' => '#modal' } %></li>
                </ul>
              </div>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>