<div class="page-header">
  <%= link_to new_category_system_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Category system
  <% end %>
  <h1>Listing category_systems</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Sistem</th>
            <th>Category</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @category_systems) do |category_system| %>
            <td><%= category_system.sistem %></td>
            <td><%= category_system.category %></td>
            <td><%= link_to 'Show', category_system %></td>
        <td><%= link_to 'Edit', edit_category_system_path(category_system) %></td>
        <td><%= link_to 'Destroy', category_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
